/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--hind);
  scroll-behavior: smooth;
  transition: .3s ease-in-out;
}

:root {
  /* Font */
  --hind: 'Hind';
  --poppins: 'Poppins';
  /* Color */
  --basic: #fffff0;
  --dark: #201e1e;
  --dark1: #4d4949;
  --grey: #dbcccc;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--poppins);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.mark {
  color: orangered;
  font-style: italic;
}

hr {
  width: 75px;
  height: 5px;
  background-color: var(--dark);
  border: none;
  margin: 1em auto;
}

.not-include {
  text-decoration: line-through;
  color: var(--grey);
}

section {
  padding: 3em 0;
}

/* Nav */

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

nav.show {
  background-color: rgba(43, 41, 41, 0.726);
}

nav a {
  color: var(--basic);
  font-weight: 500;
  font-family: var(--hind);
}

nav .order {
  color: var(--basic);
}

nav .menu a , .menu span {
  display: inline-block;
  padding: 1.5em 2em;
}

nav .hamBtn {
  display: none;
}

/* End Nav */

/* Hero */

#hero {
  height: 100vh;
  color: var(--basic);
  overflow: hidden;
  position: relative;
}

#hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero a {
  display: inline-block;
}

#hero .row {
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 99;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.846);
}

#hero h1 {
  font-size: 3vmax;
}

#hero h2 {
  font-size: 1.5vmax;
}

#hero .cta-btn {
  margin-top: 2em;
  gap: 1em;
}

#hero .cta-btn a {
  flex: 0 0 50%;
  display: inline-block;
  padding: 1em 1.5em;
  border: 1px solid;
  color: var(--basic);
}

#hero .cta-btn .cta-fill {
  background-color: var(--basic);
  color: var(--dark);
  font-weight: 600;
}

/* End Hero */

/* About */

#about {
  color: var(--dark1);
}

#about .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* align-items: center; */
  gap: 1em;
}

#about ul {
  margin-top: 1em;
  grid-template-columns: repeat(auto-fit, minmax(80px, 100px));
  gap: 1em;
}

#about ul li {
  padding: 1em;
  border: 1px solid black;
}

#about .near {
  margin-top: 1em;
}

/* End About */

/* Product */

#product .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 1.5em;
  margin-top: 2em;
}

#product img {
  max-width: 200px;
}

#product .card {
  padding: 2em;
  text-align: center;
  border-radius: .5em;
  box-shadow: 0 3px 10px rgba(77, 73, 73, 0.414);
}

#product .card button {
  display: block;
  width: 100%;
  padding: 1em 2em;
  margin-top: 1em;
  border: none;
  background-color: var(--dark);
  color: var(--basic);
}

#product .package {
  overflow-x: scroll;
  gap: 1.5em;
  padding: 1em;
}

#product .package::-webkit-scrollbar {
  display: none;
}

.card-package {
  flex: 0 0 300px;
  padding: 2em;
  text-align: center;
  border-radius: .5em;
  box-shadow: 0 3px 10px rgba(77, 73, 73, 0.414);
}

.card-package ul {
  margin-top: 2em;
}

.card-package ul li {
  margin: .7em 0;
}

/* End Product */




/* Responsive view */
/* Tablet View */
@media only screen and (max-width: 800px) {

  body {
    font-size: 90%;
  }

  /* Nav */
  nav .logo a {
    display: block;
    padding: 2em 0;
  }

  nav .menu {
    position: absolute;
    top: 70px;
    right: 25px;
    width: 300px;
    flex-direction: column;
    background-color: rgba(77, 73, 73, .5);
    text-align: center;
    height: 0;
    overflow: hidden;
  }

  nav .menu.show {
    height: auto;
  }

  nav .menu a {
    width: 100%;
  }

  nav .hamBtn {
    display: flex;
    gap: 1em;
    color: var(--basic);
  }
  /* End Nav */
}

/* Smartohone View */
@media only screen and (max-width: 600px) {
  body {
    font-size: 80%;
  }
  
}
